<!DOCTYPE html>
<html>


<head>
    <link href=".\startPage\startpage.css" rel="stylesheet" type="text/css">
</head>

<body id = "backForPage">

    <div class = "PositionColor">
        
        <h1>
            CinemaStudio
        </h1>

        
        <button id = "logPosition" onclick="window.location.href='/log'">
            Login
        </button>

        <button id = "regPosition"  onclick="window.location.href='/reg'">
            Registration
        </button>

    </div>

</body>
</html>