<!DOCTYPE html>
<html>


<head>
    <link href=".\regPage\regPage.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    

    <div class = "PositionColor">

        <a id = "arrow" href="/">
            <img src=".\regPage\arrow.png">
        </a>

        <h1 id = "CinemaStudio">
            CinemaStudio
        </h1>

        <form action="/reg" method="post">
            <p>Registration</p>

            <input type="name" name="name" id="login" placeholder="name">
            <input type="surname" name="surname" placeholder="surname">
            <input type="patronymic" name = "patronymic" placeholder="patronymic">
            <input type="date" name = "date" placeholder="date">
            <input type="login" name = "login" placeholder="login">
            <input type="email" name = "email" placeholder="email">
            <input type="role" name = "role" placeholder="role">
            <input type="password" name = "password" placeholder="password">


            <button type = "submit" id = "log">
                Register
            </button>
            <a id = "space">  _</a>


        </form>


      

    </div>

</body>
</html>