<!DOCTYPE html>
<html>


<head>
    <link href=".\regPage\regPage.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    

    <div class = "PositionColor">

        <a id = "arrow" href="/">
            <img src=".\regPage\arrow.png">
        </a>

        <h1 id = "CinemaStudio">
            CinemaStudio
        </h1>

        <form action="">
            <p>Registration</p>
            <input type="name" name="" id="login" placeholder="name">
            <input type="surname" id = "" placeholder="surname">
            <input type="patronymic" id = "" placeholder="patronymic">
            <input type="date" id = "" placeholder="date">
            <input type="login" id = "" placeholder="login">
            <input type="email" id = "" placeholder="email">
            <input type="login" id = "" placeholder="login">
            <input type="role" id = "" placeholder="role">
            <input type="password" id = "" placeholder="password">





            <button type = "submit" id = "log">
                Register
            </button>
            <a id = "space">  _</a>
        </form>


      

    </div>

</body>
</html>