

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#backForPage {
    background-color: #E5E5E5;
    background-color: #A7C2CA;

}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.PositionColor {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    scroll-behavior: smooth;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #C4C4C4;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    min-width: 761px;
    min-height: 900px;
    max-width: 761px;
    max-height: 900px;

}

.PositionColor h1 {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 82px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;

}

.PositionColor button {
    width: 211px;
    height: 52px;

    background: rgba(0, 0, 0, 0.55);
    border-radius: 13px;
}

.PositionColor p {
    
    margin-top: 25px;

    position: relative;
    width: 117px;
    height: 44px;
    left: 22%;
    top: 36%;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

}

.PositionColor input {
    position: relative;
    width: 422px;
    height: 71px;
    left: 22%;
    top: 44%;

    text-indent: 12px;
    
    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 22px;

    border-radius: 13px;
    border: none;
    background: rgba(0, 0, 0, 0.55);
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));

    color:white;



}

#login {
   

    text-indent: 12px;

    
    border: none;
    margin-bottom: 22px;
    
    color:white;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    

    background: rgba(0, 0, 0, 0.55);
    border-radius: 13px;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));
}

#login:active {
    border: 1px white;
}

#login::placeholder {
    position: relative;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */



    color: rgba(255, 255, 255, 0.33);
}
#pass {
    /* position: relative;
    width: 422px;
    height: 71px;
    left: 22%;
    top: 65%; */
    

    color:white;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    
    border: none;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 13px;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));
}

#pass::placeholder {
    position: relative;
    

    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    
    color: rgba(255, 255, 255, 0.33);
}




#log {
    position: relative;
    right: 21%;
    top: 100px;
    color:white;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    
    background: rgba(0, 0, 0, 0.55);
    border-radius: 13px;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.25));

    margin-bottom: 22px;

}


#arrow img{
    position: absolute;
    width: 100px;
    height: 100px;
    max-height: 100px;
    max-width: 100px;

    top: 33px;
    left: 15px;


}


#space{
    position: relative;
    top: 150px;
    width: 22px;
    height: 22px;
}


::-webkit-scrollbar {
    display: none;
}
