<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\ScenarioAdmin\ScenarioAbout.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <a href=""></a>
    <!-- <h1>ScnearioS</h1> -->

    <% let data_ = `/DirectorMovieAbout?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${idMovie}`  %>

      
    <div class="PositionColor" style = "margin-top: 25px;">
            
        <a id = "arrow"  href="<%= data_ %>">
            <img src=".\regPage\arrow.png">
        </a>
        
        <div style = " position: absolute; left: 115px; top: 60px;">
            movie
        </div>
        
        <h1 style="position: absolute; text-align: center; top: 36px; left: 609px;" >READ</h1>

        <%console.log(table)%>
        
        <div class = "body_table">

            <div class = 'name'>
                <div style="text-align: left;">
                    scenario
                </div>
                <div style="position:relative; text-align: center; left: -40px;">
                    <%=table[0][0].title%>
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    author
                </div>
                <div style="position:relative; text-align: center; left: -40px;"><%=table[0][0].author%>
                </div>
            </div>
            
            <textarea style="color:white; padding:40px 40px 0px 40px;" readonly><%=table[0][0].text%>
            </textarea>
    
        </div>
       


    
        
       
     
    </div>

</body>
</html>

