<!DOCTYPE html>
<html>


<head>
    <link href=".\logPage\loginPage.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

   
    <div class = "PositionColor">

        <a id = "arrow" href="/">
            <img src=".\logPage\arrow.png">
        </a>

        <h1 id = "CinemaStudio">
            CinemaStudio
        </h1>

        <% if (status == 0) {%>
            <p id = "statusLog">Incorrect login or password</p>
        

        <form action="/log" method="post">
            <p style = "margin-top: 0px;">Log in</p>
            <input type="login" name="login" id="login" placeholder="login">
            <input type="password" name = "password" id = "pass" placeholder="password">

            <button type = "submit" id = "log">
                Log in
            </button>
        </form>
        <% }  else { %>
            <form action="/log" method="post">
                <p>Log in</p>
                <input type="login" name="login" id="login" placeholder="login">
                <input type="password" name = "password" id = "pass" placeholder="password">
    
                <button type = "submit" id = "log">
                    Log in
                </button>
            </form>
        <% } %>

      

    </div>

</body>
</html>