<!DOCTYPE html>
<html>


<head>
    <link href=".\Add.css" rel="stylesheet" type="text/css">
    <link href=".\ScenarioPages\ScenarioAdmin\ScenarioAdd.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    

    <div class = "PositionColor">

        <a id = "arrow" href="/Scenario">
            <img src=".\regPage\arrow.png">
        </a>

        <h1 id = "CinemaStudio">
            CinemaStudio
        </h1>

        <form action="/ScenarioAdd" method="post">
            <p>Add Scenario</p>

            <input type="text" name="author"  placeholder="author">
            <input type="text" name="title" placeholder="title">
            <textarea name="text" id="" cols="30" rows="10" placeholder="scenario"></textarea>
            

            <button type = "submit" id = "logScenario">
                Add Scenario
            </button>

            


        </form>


      

    </div>

</body>
</html>