<!DOCTYPE html>
<html>


<head>
    <link href=".\MoviePages\MovieAdmin\MovieAdd.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    

    <div class = "PositionColor">

        <a id = "arrow" href="/Movie">
            <img src=".\regPage\arrow.png">
        </a>

        <h1 id = "CinemaStudio">
            CinemaStudio
        </h1>

        <form action="/ScenarioAdd" method="post">
            <p>Add Scenario</p>

            <input type="text" name="author"  placeholder="author">
            <input type="text" name="title" placeholder="title">
            <textarea name="text" id="" cols="30" rows="10"></textarea>
            
             

            <button type = "submit" id = "log">
                Add Scenario
            </button>
            <a id = "space">  _</a>


        </form>


      

    </div>

</body>
</html>