<!DOCTYPE html>
<html>


<head>
    <link href=".\Add.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <% let data = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`%>
    <% console.log(data) %>
    <div class = "PositionColor">

        <a id = "arrow" href="<%= data %>">
            <img src=".\regPage\arrow.png">
        </a>

        <h1 id = "CinemaStudio">
            CinemaStudio
        </h1>

        <form action="/MovieAdd" method="post">
            <p>Add Movie</p>

            <input type="text" name="title"  placeholder="Title">
            <input type="number" name="length" placeholder="Length">
            <input type="patronymic" name = "genre" placeholder="Genre">
             <select name="status" aria-placeholder="status"> 
                <option value="0">вышел</option>
                <option value="1" selected>не вышел</option>
              </select>
            <input type="date" name = "date" placeholder="date">
           
            <button type = "submit" id = "log" >
                <a onclick = "window.location.href='<%= data %>'">Add Movie</a>
            </button>
        


        </form>

      

      

    </div>

</body>
</html>