
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');



#backForPage {
  background-color: #E5E5E5;
  background-color: #A7C2CA;

}

.PositionColor {

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y:scroll;
 
 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #C4C4C4;
  border: none;
  outline: none;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  color: #FFFFFF;


  min-width: 1366px;
  min-height: 900px;
  max-width: 1366px;
  max-height: 900px;

}

::-webkit-scrollbar {
    display: none;
}

#location_nav {
    position: absolute;
    left: 78px;
    top: 80.15px;
    width: 1252.32px;
    height: 39.42px;
}

#location_nav a {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 50px;
}


#location_nav a:hover {
    color: black;
}


.PositionColor thead {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.PositionColor tbody {
    position: relative;
    top: 315px;
    scroll-behavior: smooth;
 

}

#hovertd td:hover {
  color:black;

}

#hovertd td{
    padding: 0px 0px 0px 0px;

}
#title{
    position: absolute;
    width: 71.58px;
    height: 39.42px;
    left: 176.68px;
    top: 200.58px;
    


}

#length{
    
    position: absolute;
    width: 98.26px;
    height: 39.42px;
    left: 508.68px;
    top: 200.58px;

}


#genre {
    position: absolute;
    width: 89.77px;
    height: 39.42px;
    left: 808.26px;
    top: 200.58px;
}

#date {
    position: absolute;
    width: 66.72px;
    height: 39.42px;
    left: 1004.79px;
    top: 200.58px;
}   


#add {
    position: absolute;
    width: 36px;
    height: 22px;
    left: 1190px;
    top: 200.58px;

}

#margin_test {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    position: relative;

}

td  {
    top: 0px;
    padding: 40px 0px 0px 0px;
    

}





button {
    width: 121.94px;
    height: 43.3px;


    background: #C4C4C4;
    border-radius: 3px;
    border: none;

    
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}



#table-scroll {
    height:150px;
    overflow:auto;  
    margin-top:20px;
  }


#accept {
    position: relative;
    /* left: 600px; */
    left: 450px;
    top: -65.58px;

}
  

#actor {
    position: absolute;
    width: 71.58px;
    height: 39.42px;
    left: 294.68px;
    top: 170.58px;
}

#movie {
    position: absolute;
    width: 71.58px;
    height: 39.42px;
    left: 578.68px;
    top: 170.58px;
}

#date {
    position: absolute;
    width: 48px;
    height: 30px;
    left: 827px;
    top: 170.58px;
    
}

#status {
    position: absolute;
    width: 48px;
    height: 30px;
    left: 970px;
    top: 170.58px;
}



#actor_ {
    position: relative;
    text-align: center;
    width: 180.58px;
    height: 39.42px;
    left: 234.68px;
    top: -65.58px;


   font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

#movie_ {
    position: relative;
    width: 71.58px;
    height: 39.42px;
    left: 350.68px;
    top: -65.58px;
}

#date_ {
    position: relative;
    width: 48px;
    height: 30px;
    left: 450px;
    top: -65.58px;
    
}

#status_ {
    position: relative;
    width: 48px;
    height: 30px;
    left: 530px;
    top: -65.58px;
}

#addScenario:hover {
    color: black;
}

#font {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
}

