<!DOCTYPE html>
<html>


<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <div>
            <h1>LOGIN</h1>
            
                   
            <form method="POST">
                <input type = "user" name="user">
                <!-- <input type="pass" name = "pass"> -->
                <button type="submit">Submit</button>
            </form>

                
        </div>
    </main>

    <footer>

</body>
</html>