<!DOCTYPE html>
<html>


<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <div>
            <h1>ОЦЕНОЧКИ</h1>
            
                <table>
                    <thead>
                        <tr>
                            <% Object.getOwnPropertyNames(columns[1]).forEach ( (headName) => { %>
                                <th> <%= headName %>  </th>
                                
                             <% }) %>
                            
                        </tr>
                       
                    </thead>
                    <tbody>
                        <% columns.forEach(function(column, index){ %>
                            <% column = Object.values(column) %>
                            <tr>
                                <% column.forEach((element, index) => { %>
                                    <td> <%= element %> </td>
                               <% }); %>
                              
                            </tr> 
                        <% }); %>

                        <button>  <a href="/start">
                            change page
                        </a> </button>
                        

                    </tbody>
                </table>    
                
            
        </div>
    </main>

    <footer>

</body>
</html>