<!DOCTYPE html>
<html>


<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <div>
            <h1>Top Students</h1>
            <ul>
                
                <% columns.forEach(function(column){ %>
                    <li> <%= column.value %></li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>

</body>
</html>