<!DOCTYPE html>
<html>


<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <div>
            <h1>Top Students</h1>

            <% table.forEach(columns => { %>
            
                <table>
                    <thead>
                        <tr>
                            <% Object.getOwnPropertyNames(columns[0]).forEach ( (headName) => { %>
                                <th> <%= headName %>  </th>
                                
                             <% }) %>
                            
                        </tr>
                       
                    </thead>
                    <tbody>
                        <% columns.forEach(function(column, index){ %>
                            <% column = Object.values(column) %>
                            <tr>
                                <% column.forEach((element, index) => { %>
                                    <td> <%= element %> </td>
                               <% }); %>
                              
                            </tr> 
                        <% }); %>
                        

                      

                    </tbody>
                </table>    

           <% }); %>
                
           <button>  <a href="/HEH">
            change page
        </a> </button>
        
        </div>
    </main>

    <footer>

</body>

<script>
    
</script>


</html>