<!DOCTYPE html>
<html>


<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <div>
            <h1>Top Students</h1>
            <ul>
                
                <% columns %>
                    
                
            </ul>
        </div>
    </main>

    <footer>

</body>
</html>