<!DOCTYPE html>
<html>


<head>

    <link href=".\mainAdmin.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <div class="PositionColor">

        <h1>MainPage (admin)</h1>
        <button onclick="window.location.href='/Movie'">
            Movies
        </button>
        
        <button onclick="window.location.href='/Scenario'">
            Scenarios
        </button>

        <button onclick="window.location.href='/Workers'">
            Workers
        </button>        

        <button onclick="window.location.href='/Requests'">
            Requests
        </button>

        <button onclick="window.location.href='/Arhive'">
            Archive
        </button>

    </div>

</body>
</html>