
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    font-family: arvo;
}

div {
    font-family: arvo;
}


button {
    width: 121.94px;
    height: 43.3px;
    position: relative;
    top: -35px;
    left: 459px;

    background: #C4C4C4;
    border-radius: 3px;
    border: none;

    
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}


#backForPage {
  background-color: #E5E5E5;
  background-color: #A7C2CA;

}

.PositionColor {

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y:scroll;
 
 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #C4C4C4;
  border: none;
  outline: none;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  color: #FFFFFF;


  min-width: 1366px;
  min-height: 900px;
  max-width: 1366px;
  max-height: 900px;

}

.body_table {
    width: 1196px;
    height: 649px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y:scroll;

    background: #C4C4C4;
border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

#location_nav {
    position: absolute;
    left: 78px;
    top: 80.15px;
    width: 1252.32px;
    height: 39.42px;
}

#location_nav a {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 50px;
}


#location_nav a:hover {
    color: black;
}




#test {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
}

#arrow img{
    width: 83px;
    height: 74px;
   max-height: 74px;
   max-width: 83px;
  
   left: 5px;
  
}
  
#arrow {
   position: absolute;
   left: 62px;
   top: 34px;
  
}


#hovertd td:hover {
  color:black;

}

#hovertd td{
    padding: 0px 0px 0px 0px;

}

td {
    top: -60px;
    padding: 40px 0px 0px 0px;
}


#TitleScenario {
    position: absolute;
    width: 71.58px;
    height: 39.42px;
    left: 344.68px;
    top: 200.58px;
}

#AuthorScenario {
    position: absolute;
    width: 71.58px;
    height: 39.42px;
    left: 628.68px;
    top: 200.58px;
}

#addScenario {
    position: absolute;
    width: 48px;
    height: 30px;
    left: 877px;
    top: 200.58px;
    
}

#addScenario:hover {
    color: black;
}

#font {
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
}


#titleOfScenario {
    position: relative;
    width: 222px;
    height: 44px;
    left: 262px;
    top: 261px;


}

#authorOfScenario {
    position: relative;
    width: 290px;
    height: 22px;
    left: 301px;
    top: 261px;
}

#aboutScenario {
    position: relative;
    width: 117px;
    height: 36px;
    left: 320px;
    top: 261px;

}


.name {
    height: 36px;
    font-family: arvo;
    padding:15px 0px 0px 0px;


}

.name div{
    margin: 0;
    padding:0px 0px 0px 40px;
    display: inline-block;
    list-style: none;
    width:350px;
    font-size: 24px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;   
}


input {
    border:0;
    outline: 0;
    font-family: Arvo;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;   

    background: #C4C4C4;
}


textarea {
    height: 400px;
    width: 1100px;

    border:0;
    outline: 0;
    font-family: Arvo;
    
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;   

    background: #C4C4C4;


}