<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\ScenarioAdmin\ScenarioAbout.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <a href=""></a>
    <!-- <h1>ScnearioS</h1> -->

    <% let data_ = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

      
    <div class="PositionColor" style = "margin-top: 25px;">
            
        <a id = "arrow"  href="<%= data_ %>">
            <img src=".\regPage\arrow.png">
        </a>

        <%console.log(table)%>
        <p>Title: <%=table[0][0].title%></p>
        <p>Author: <%=table[0][0].author%></p>
        <p>text: <%=table[0][0].text%></p>


    
        
       
     
    </div>

</body>
</html>